<div class='profile-page'>
  <div class='profile-page__container'>
    <div class='profile-page__profile-block'>
      <h2 class='profile-page__profile-block_title'>Управление профилем</h2>
      <div class='profile-page__profile-block_content'>
        <div class='user__image-field'>
          <div
            id='user-profile-avatar-container'
            class='user__image-field_avatar'
          ></div>
          <input
            name='upload-avatar-input'
            class='user__image-field_input'
            id='upload-avatar-input'
            type='file'
            accept='image/png, image/jpg, image/jpeg'
          />
          <label
            class='user__image-field_input_label'
            for='upload-avatar-input'
          >
            <img
              class='user__image-field_input_label_icon'
              src='/assets/icons/upload.svg'
            />Выбрать изображение</label>
          <span class='user__file_error' id='user-image-type-error'></span>
        </div>
        <div class='user__text-fields'>
          <div class='user__input'>
            <label for='user-change-login'>
              <div class='user__input_label'>
                <span>Логин</span>

              </div>
              <input
                name='user-change-login'
                placeholder='Введите логин'
                class='input user__input_field'
                id='user-change-login'
                type='text'
                value={{user.username}}
              />
              <span
                class='user__input_error'
                id='user-change-login-error'
              ></span>
            </label>

          </div>
          <div class='user__input'>
            <label for='user-change-email'>
              <div class='user__input_label'>
                <span>Email</span>

              </div>
              <input
                name='user-change-email'
                placeholder='Введите e-mail'
                class='input user__input_field'
                id='user-change-email'
                type='email'
                value={{user.email}}
              />
              <span
                class='user__input_error'
                id='user-change-email-error'
              ></span>
            </label>
          </div>
          <div class='user__submit'>
            <button
              disabled='true'
              class='button user__submit_button disable'
              id='user-change-btn'
            >Сохранить изменения</button>
            <span id='user-change-error' class='user-change-error'></span>
          </div>
        </div>

      </div>
    </div>
    <div class='profile-page__additional-block'>
      <h2 class='profile-page__additional-block_title'>Подписка</h2>
      <form
        id='subscription-form'
        method='POST'
        action='https://yoomoney.ru/quickpay/confirm'
      >
        <input
          id='subscription-form-label'
          type='hidden'
          name='label'
          value=''
        />
        <input type='hidden' name='sum' value='2' data-type='number' />
        <input type='hidden' name='receiver' value='4100118910706695' />
        <input type='hidden' name='quickpay-form' value='button' />
        <div class='profile-page__additional-block_content'>

          {{#if user.isPremium}}
            <h3 class='additional__title'>Подписка подключена</h3>
            <span class='additional__desc'>
              До конца подписки осталось
              {{expirationDays}}
            </span>
          {{else}}
            <h3 class='additional__title'>Подписка не активна</h3>
            <span class='additional__desc'>Подписка стоит
              <strong>10р.</strong>
              и оформляется на
              <strong>1 месяц</strong>
            </span>
          {{/if}}
          <span class='additional__desc'>В подписку входят эксклюзывные фильмы и
            сериалы, а также возможность создания комнат совместного просмотра
          </span>
          <div class='additional__select'>
            {{#unless user.isPremium}}
              <button
                class='button additional__select_button'
                id='subscription-btn'
              >Оформить подписку</button>
            {{/unless}}
          </div>
        </div>
      </form>
    </div>

    <div class='profile-page__additional-block'>
      <h2 class='profile-page__additional-block_title'>Управление доступом</h2>
      <div class='profile-page__additional-block_content'>
        <h3 class='additional__title'>Смена пароля</h3>
        <span class='additional__desc'>При смене пароля будут завершены все
          активные сеансы на других устройствах</span>
        <div class='additional__select'>
          <button
            class='button additional__select_button'
            id='security-change-btn'
          >Изменить пароль</button>
        </div>
        <div class='profile-page__exit-block'>
          <h2 class='profile-page__exit-block_title'>Выход из аккаунта</h2>
          <button
            id='exit-button'
            class='button profile-page__exit-block_btn'
          >Выйти</button>
        </div>
      </div>
    </div>

  </div>

</div>