@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.profile-page {
  margin-top: 10px;
  &__container {
    width: $content-width;
    max-width: $content-width-max;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 60% 35%;
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    row-gap: 12px;
  }

  &__profile-block {
    grid-row: span 2 / span 2;
    display: flex;
    flex-direction: column;
    gap: 12px;
    &_title {
      font-size: $font-size-large;
      font-weight: bold;
    }

    &_content {
      padding: 18px;
      height: auto;
      background-color: $background-secondary-color;
      border-radius: $border-radius-medium;

      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }
  }

  &__security-block {
    display: flex;
    flex-direction: column;
    gap: 12px;

    // max-width: 448px;

    &_title {
      font-size: $font-size-large;
      font-weight: bold;
    }

    &_content {
      background-color: $background-secondary-color;
      border-radius: $border-radius-medium;
      padding: 18px;
    }
  }

  &__exit-block {
    grid-column-start: 2;

    &_title {
      font-size: $font-size-large;
      font-weight: bold;
      margin-bottom: 16px;
    }

    &_btn {
      background-color: $brand;
      color: $brand-secondary;
      font-size: $font-size-medium;
      font-weight: 600;

      &:hover {
        background-color: $button-background-hover;
      }
    }
  }
}

.user {
  &__image-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    &_avatar {
      width: 300px;
      // width: 100%;
      height: 300px;
    }

    &_input {
      display: none;

      &_label {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: $font-size-medium;
        border: 1.5px solid $brand;
        padding: 0.5em 1em;
        border-radius: 0.5em;
        transition: transform 0.2s ease;

        text-align: center;

        &:hover {
          cursor: pointer;
          transform: scale(1.02);
        }

        &_icon {
          width: 24px;
        }
      }
    }
  }

  &__text-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 24px;
  }

  &__input {
    width: 100%;
    position: relative;

    &_label {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: $font-size-medium;
      width: fit-content;

      margin-bottom: 0.3em;
      position: relative;
    }
    &_field {
      width: 100%;
      font-size: $font-size-medium;
      outline: 1px solid #fff;

      &:focus {
        outline: 2px solid #fff;
      }
      &:hover {
        cursor: text;
      }
      &::-ms-reveal {
        filter: invert(100%);
      }
    }
    &_error {
      display: block;
      font-size: 10px;
      color: $error-color;
      position: absolute;
      margin-top: 2px;
    }
  }

  &__submit {
    width: fit-content;
    margin-top: 8px;
    width: 100%;

    &_button {
      width: 100%;

      background-color: #a143ff;
      color: $brand-secondary;

      font-size: $font-size-medium;
      font-weight: 600;
      transition: background-color 0.2s ease;
      &:hover {
        background-color: #590da6;
      }

      &.disable {
        background-color: grey;

        &:hover {
          cursor: default;
        }
      }
    }
  }
}

.user-change-error {
  margin-top: 5px;
  color: $error-color;
  align-self: flex-start;
  display: none;

  &.visible {
    display: block;
  }
}

.security {
  &__title {
    font-size: 20px;
    font-weight: bold;
  }
  &__desc {
    display: block;
    font-size: $font-size-small;
    margin-top: 8px;
    font-weight: 300;
    color: $text-secondary-color;
  }
  &__select {
    width: fit-content;
    margin-top: 16px;

    &_button {
      width: 100%;

      background-color: #a143ff;
      color: $brand-secondary;

      font-size: $font-size-medium;
      font-weight: 600;
      transition: background-color 0.2s ease;
      &:hover {
        background-color: #590da6;
      }
    }
  }
}

@include largeTablet {
  .user {
    &__image-field_avatar {
      width: 250px;
      height: 250px;
    }
  }
}

@include mediumTablet {
  .profile-page {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  }
}

@include smallTablet {
  .profile-page {
    &__container {
      width: 85vw;
      gap: 24px;
    }
    &__profile-block {
      &_title {
        font-size: 22px;
      }
    }

    &__security-block {
      &_title {
        font-size: 22px;
      }
    }
    &__exit-block {
      &_title {
        font-size: 22px;
      }
    }
  }
}

@include mobile {
  .profile-page {
    &__container {
      width: 90vw;
      gap: 16px;
    }
  }
  .user {
    &__image-field {
      &_avatar {
        width: 200px;
        height: 200px;
      }
      &_input {
        &_label {
          font-size: 14px;
        }
      }
    }

    &__submit {
      &_button {
        font-size: 14px;
      }
    }
    &__input {
      &_field {
        font-size: 14px;
      }
      &_label {
        font-size: 14px;
      }
      &_error {
        font-size: 10px;
      }
    }
  }
}

@include extraSmallMobile {
  .profile-page {
    &__profile-block {
      &_content {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }
  .user__image-field_input_label_icon {
    width: 20px;
  }
}

@include tinyMobile {
  .user {
    &__input {
      &_error {
        font-size: 8px;
      }
    }
  }
}
