<div class='grid-block-skeleton'>
  <div class='grid-block-skeleton__header'></div>

  <div class='grid-block-skeleton__content'>
    <div class='grid-block-skeleton__element'></div>
    <div class='grid-block-skeleton__element'></div>
    <div class='grid-block-skeleton__element'></div>
  </div>
</div>