<div class='grid-block'>
  <div class='grid-block__header'>
    <h4 class='grid-block__header_title'>{{title}}</h4>
    <span id='grid-block-header-more' class='grid-block__header_more'>смотреть
      все</span>
  </div>
  <div class='grid-block__content'>
    {{#each items}}
      <div class='grid-block__element'>
        <img class='grid-block__element_image' src={{this.src}} alt='card' />
      </div>
    {{/each}}
  </div>

</div>