@import 'styles/variables.scss';

.grid-block {
  height: fit-content;

  &__header {
    margin-bottom: 16px;

    display: flex;
    align-items: baseline;
    gap: 16px;

    &_title {
      font-size: $font-size-extra-large;
    }

    &_more {
      font-size: $font-size-medium;
      color: $brand;

      &:hover {
        border-bottom: 1px solid $brand;
        cursor: pointer;
      }
    }
  }

  &__content {
    height: 100%;

    display: grid;
    grid-template-columns: 65% 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
  }

  &__element {
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;

    &:hover {
      cursor: pointer;
      scale: 1.02;
      box-shadow: 0px 0px 70px 40px rgba(0, 0, 0, 0.7);

      .grid-block__element_desc {
        opacity: 1;
        visibility: visible;
      }
    }

    &_image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:first-child {
      grid-row: span 2 / span 2;
      font-size: 40px;

      .grid-block__element_desc {
        padding: 24px;

        &_stats {
          font-size: $font-size-large;
        }
      }
    }
    &:nth-child(2) {
      grid-column-start: 2;
      font-size: $font-size-extra-large;

      .grid-block__element_desc {
        &_stats {
          font-weight: 400;
          font-size: $font-size-medium;
        }
      }
    }
    &:nth-child(3) {
      font-size: $font-size-extra-large;
      grid-column-start: 2;

      .grid-block__element_desc {
        &_stats {
          font-weight: 400;
          font-size: $font-size-medium;
        }
      }
    }

    &_desc {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      bottom: 0;

      padding: 16px;
      width: 100%;
      background-image: linear-gradient(0deg, #000000ab 76%, #ffffff00 100%);

      transition:
        opacity 0.3s ease-out,
        visibility 0.3s ease-out;

      &_title {
        font-weight: 700;
      }

      &_stats {
        display: flex;
        gap: 16px;
      }
    }
  }

  &-skeleton {
    &__header {
      background: $skeleton-background;
      width: 40%;
      height: 40px;
      overflow: hidden;
      position: relative;
      margin-bottom: 16px;

      @include skeleton-before(
        $skeleton-background-secondary,
        $skeleton-animation
      );
    }

    &__content {
      height: 500px;
      width: 100%;

      display: grid;
      grid-template-columns: 65% 1fr;
      grid-template-rows: 1fr;
      gap: 16px;
      justify-content: space-between;
    }

    &__element {
      width: 100%;
      background: $skeleton-background;
      overflow: hidden;
      position: relative;

      @include skeleton-before(
        $skeleton-background-secondary,
        $skeleton-animation
      );
    }
  }
}
