<div class='error-page'>
  <div class='error-page__container'>
    <div class='error-page__description'>
      <h1 class='error-page__description_title'>{{title}}</h1>
      <span class='error-page__description_subtitle'>{{description}}</span>
      <button
        id='from-error-to-main-button'
        class='button error-page__exit-btn'
      >
        На главную
      </button>
    </div>
    <div class='error-page__image'>
      <img
        class='error-page__image_img'
        src='/assets/images/desktopSadGif.gif'
        alt=''
      />
    </div>
  </div>
</div>