<div class="form-auth__wrapper">
    <form class="form-auth" action='submit'>
        <input class="form-auth__input" id="form-auth-email" type="email"></input>
        <input class="form-auth__input" id="form-auth-password" type="password"></input>
    </form>
    <button id="form__auth-btn">Войти</button>
</div>