<div class='form-auth__wrapper'>
  <form class='form-auth' action='submit'>
    <h1 class='form-auth__title'>АВТОРИЗАЦИЯ</h1>
    <div class='form-auth__input'>
      <input
        placeholder='e-mail'
        class='input form-auth__input_field'
        id='form-auth-email'
        type='email'
      />
      <span class='form-auth__input_error' id='form-auth-email-error'></span>
    </div>
    <div class='form-auth__input'>
      <input
        placeholder='Пароль'
        class='input form-auth__input_field'
        id='form-auth-password'
        type='password'
      />
      <span class='form-auth__input_error' id='form-auth-password-error'></span>
    </div>
    <button class='button form-auth__button' id='form-auth-btn'>Войти</button>
  </form>
  <div class='form-auth__footer'>
    <span>У Вас нет аккаунта?
      <a id='form-auth-reg-link' href=''>Зарегистрируйтесь</a>
    </span>
  </div>
</div>