<div class='movie-description-skeleton'>
  <div class='movie-description-skeleton__info'>
    <div class='movie-description-skeleton__info_item skeleton__text'></div>
    <div class='movie-description-skeleton__info_item skeleton__text'></div>
    <div class='movie-description-skeleton__info_item skeleton__text'></div>
    <div class='movie-description-skeleton__info_item skeleton__text'></div>
    <div class='movie-description-skeleton__info_item_btn'></div>
  </div>

  <div class='movie-description-skeleton__image'></div>
</div>