@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.movie-description {
  width: 100%;
  margin: 0 auto;
  padding-left: calc((100vw - $content-width) / 2);

  &__container {
    display: flex;
    gap: 20px;
  }

  &__wrapper {
    width: 35%;
    height: auto;
    z-index: 0;
    display: flex;
    align-items: center;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    width: 80%;
    height: auto;
    user-select: none;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 10px;

    &_text {
      color: $brand-dull;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 30px;

    &_show_btn,
    &_favorites_btn,
    &_show_together_btn {
      color: $brand-secondary;
      font-size: $font-size-medium;
      font-weight: 600;
      transition: background-color 0.2s ease;
    }

    &_show_btn {
      background-color: $brand;

      &:hover {
        background-color: $button-background-hover;
      }
    }

    &_show_together_btn {
      background-color: $background;
      border: 1.5px solid $brand;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.02);
      }
    }

    &_favorites_btn {
      background-image: url('assets/icons/favoritesIcon.svg');
      background-size: 32px;
      min-width: 32px;
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
    &_rate_btn {
      background-image: url('assets/icons/starIcon.svg');
      display: none;
      background-size: 32px;
      min-width: 32px;
      width: 32px;
      height: 32px;
      cursor: pointer;
    }
  }

  &__image {
    width: 65%;
    height: auto;
    position: relative;

    &_overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: $movie-left-box-shadow;
    }
    &_img {
      width: 100%;
      object-fit: cover;
      user-select: none;
    }
  }

  &-skeleton {
    display: flex;
    gap: 20px;
    height: 60vh;
    padding-left: calc((100vw - $content-width) / 2);

    &__info {
      height: 100%;
      width: 35%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;

      &_items {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      &_item {
        width: 100%;

        &:first-child {
          height: 100px;
        }

        &_btns {
          display: flex;
          gap: 10px;
        }

        &_btn {
          height: 40px;
          width: 100px;
          background: $skeleton-background;
          overflow: hidden;
          position: relative;
          border-radius: $border-radius-small;

          @include skeleton-before(
            $skeleton-background-secondary,
            $skeleton-animation
          );
        }
      }
    }

    &__image {
      height: 100%;
      width: 65%;
      background: $skeleton-background;
      overflow: hidden;
      position: relative;

      @include skeleton-before(
        $skeleton-background-secondary,
        $skeleton-animation
      );
    }
  }
}

.rating {
  padding: 2px 10px;
  text-align: center;
  color: $brand-secondary;
  background-color: $card-high-rating;
  border-radius: $border-radius-small;
}

@include tablet {
  .movie-description {
    &__wrapper {
      width: 40%;
    }
    &__image {
      width: 60%;
    }
  }
}

@include smallTablet {
  .movie-description {
    padding-left: calc((100vw - 85vw) / 2);
    margin: 0 auto;
    width: 100%;
    max-width: 100%;

    &__container {
      flex-direction: column;

      :first-child {
        order: 2;
      }

      :last-child {
        order: 1;
      }
    }

    &__wrapper {
      width: 85vw;
    }
    &__content {
      margin: 0 auto;
      width: 85vw;
      gap: 20px;

      & > :nth-child(1) {
        order: 1;
      }

      & > :nth-child(2) {
        order: 2;
      }

      & > :nth-child(3) {
        order: 4;
      }

      & > :nth-child(4) {
        order: 3;
      }

      & > :nth-child(5) {
        order: 5;
      }
    }

    &__title {
      width: 30%;
    }

    &__image {
      width: 100vw;
      right: calc((100vw - 85vw) / 2);
      img {
        width: 100%;
      }

      &_overlay {
        box-shadow: $movie-bottom-box-shadow;
      }
    }

    &__actions {
      gap: 15px;
      & > :nth-child(1) {
        order: 1;
      }

      & > :nth-child(2) {
        order: 2;
      }

      & > :nth-child(3) {
        order: 3;
      }
    }

    &-skeleton {
      height: auto;
      flex-direction: column;
      padding-left: calc((100vw - 85vw) / 2);
      margin: 0 auto;
      width: 100%;
      max-width: 100%;

      &__info {
        width: 85vw;
        flex-direction: column-reverse;

        &_items {
          flex-direction: column-reverse;
        }

        &_item {
          &--title {
            width: 50%;
          }
        }
      }

      &__image {
        width: 100vw;
        min-height: 500px;
        right: calc((100vw - 85vw) / 2);
      }
      :first-child {
        order: 2;
      }
      :last-child {
        order: 1;
      }
    }
  }
}

@include mobileLandscape {
  .movie-description {
    &__content {
      gap: 10px;
    }

    &__actions {
      &_show_btn,
      &_favorites_btn,
      &_show_together_btn {
        font-size: $font-size-small;
      }
    }

    &__title {
      width: 35%;
    }
  }
}

@include mobile {
  .movie-description {
    padding-left: calc((100vw - 90vw) / 2);
    &__content {
      width: 90vw;
    }

    &__text {
      font-size: $font-size-extra-small;
    }

    &__title {
      width: 45%;
    }

    &__image {
      width: 100vw;
      right: calc((100vw - 90vw) / 2);
    }

    &-skeleton {
      padding-left: calc((100vw - 90vw) / 2);

      &__info {
        width: 90vw;

        &_item {
          &:first-child {
            height: 60px;
          }
        }
      }

      &__image {
        min-height: 300px;
        right: calc((100vw - 90vw) / 2);
      }
    }
  }
}

@include megaSmallMobile {
  .movie-description {
    &__actions {
      &_rate_btn {
        display: block;
        min-width: 32px;
        width: 32px;
        height: 32px;
        background-size: 32px;
      }
    }
  }
}

@include ultraSmallMobile {
  .movie-description {
    &__actions {
      &_favorites_btn {
        min-width: 25px;
        width: 25px;
        height: 25px;
        background-size: 25px;
      }
      &_rate_btn {
        min-width: 25px;
        width: 25px;
        height: 25px;
        background-size: 25px;
      }
    }

    &__title {
      width: 50%;
    }
  }
}
