@import 'styles//variables.scss';

.movie-page {
  &__container {
    padding-top: 30px;
    max-width: $content-width-max;
    width: $content-width;
    margin: 0 auto;
  }

  &__content {
    display: flex;

    justify-content: space-between;
  }

  &__rating {
    // margin-top: 30px;
    width: fit-content;
    max-width: 550px;
    height: 200px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    &_title {
      height: 20%;
      font-size: 30px;
    }

    &_block {
      height: 80%;
    }
  }

  &__description {
    // padding-top: 30px;
    width: 33vw;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_title {
      font-size: 30px;

      &_block {
        display: flex;
        align-items: center;
        gap: 30px;
      }
    }

    &_warning {
      display: flex;
      align-items: center;
      gap: 5px;

      &_text {
        font-size: $font-size-small;
        color: $brand-dull;
      }
    }
    &_text {
      font-size: $font-size-medium;
      line-height: 24px;
    }
  }

  &__persons {
    padding-top: 30px;
  }

  &__video {
    &_container {
      height: 100dvh;
      min-width: 100dvw;
      background-color: $background;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: -1;
    }
  }

  &-skeleton {
    &__description {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &_text {
        height: 100px !important;
      }
    }
  }
}

@include tablet {
  .movie-page {
    &__content {
      flex-direction: column;

      gap: 30px;
    }
    &__description {
      width: 80%;
      max-width: none;
    }
  }
}

@include smallTablet {
  .movie-page {
    &__container {
      width: 85dvw;
      max-width: 85dvw;
      margin: 0 auto;
    }

    &__description {
      width: 100%;
    }
  }
}

@include mobile {
  .movie-page {
    &__container {
      width: 90dvw;
      max-width: 90dvw;
      margin: 0 auto;
    }
    &__rating {
      height: 175px;
      &_title {
        font-size: $font-size-large;
      }
    }

    &__description {
      &_title {
        font-size: $font-size-large;

        &_block {
          gap: 10px;
        }
      }

      &_text {
        font-size: $font-size-small;
        line-height: 20px;
      }

      &_warning {
        &_text {
          font-size: $font-size-ultra-small;
          color: $brand-dull;
        }
      }
    }
  }
}

@include smallMobile {
  .movie-page__rating {
    width: 100%;
  }
}

@include megaSmallMobile {
  .movie-page__rating {
    display: none;
  }
}
