<div class='movie-page'>
  <div
    id='movie-description-container'
    class='movie-page__container_item'
  ></div>
  <div class='movie-page__container'>
    <div id='movie-page-series' class='movie-page__series'>

    </div>
  </div>
</div>