@import '../../styles//variables.scss';

.movie-page {
  padding-bottom: 100px;

  &__container {
    max-width: $content-width-max;
    width: $content-width;
    margin: 0 auto;
    margin-top: 16px;
  }
}
