<div class='movie-page'>
  <div
    id='movie-description-container'
    class='movie-page__container_item'
  ></div>
  <div class='movie-page__container'>
    <div id='movie-page-series' class='movie-page__series'>
    </div>

    <div class='movie-page__description'>
      <div class='movie-page__description_title_block'>
        <h4 class='movie-page__description_title'>Описание</h4>
        <div class='movie-page__description_warning'>
          <img
            class='movie-page__description_warning_icon'
            src='assets/icons/warningIcon.svg'
            alt='warning-icon'
          />
          <p class='movie-page__description_warning_text'>Осторожно, возможны
            спойлеры</p>
        </div>
      </div>

      <p class='movie-page__description_text'>
        {{longDescription}}
      </p>
    </div>
  </div>
</div>