<div class='footer' id='footer'>
  <div class='footer__container'>
    <div class='footer__contacts'>
      <span class='footer__contacts_text'>Связаться с нами</span>
      <div class='footer__contacts_socials'>
        <a
          target='_blank'
          href='https://github.com/frontend-park-mail-ru/2024_2_GOATS'
        >
          <img
            class='footer__contacts_socials_icon'
            src='assets/icons/github_icon.svg'
            alt=''
          />
        </a>
        <a target='_blank' href='https://vk.me/t.koibaev'><img
            class='footer__contacts_socials_icon'
            src='assets/icons/vk_icon.svg'
            alt=''
          /></a>
        <a target='_blank' href='https://t.me/t_koibaev'><img
            class='footer__contacts_socials_icon'
            src='assets/icons/telegram_icon.svg'
            alt=''
          /></a>

      </div>
    </div>
    <div class='footer__rights'>
      <span class='footer__rights_text'>© 2024 GOATS • Все права соблюдены •
        Designed by: tkoibaev
      </span>
    </div>
  </div>
</div>