<div id='modal' class='modal'>
  <div id='modal-content' class='modal__content'>
    <h4 class='modal__content_text'>{{this.text}}</h4>
    <div class='modal__content_actions'>
      <button
        id='modal-confirm-btn'
        class='button modal__content_btn'
      >Да</button>
      <button
        id='modal-cancel-btn'
        class='button modal__content_btn modal__content_btn_cancel'
      >Отмена</button>
    </div>
  </div>
</div>