<div class='reg-page'>
  <div class='reg-page__container'>
    <div class='reg-page__container_intro-text'>
      <h1>ТЫСЯЧИ ФИЛЬМОВ И СЕРИАЛОВ
        <br />
        <span class='accent'>В ОДНОМ ПРИЛОЖЕНИИ</span></h1>
    </div>
    <div class='reg-page__container_form' id='reg-page-form-block'>

    </div>
  </div>
</div>