<div class='reg-page'>
  <div class='reg-page__container'>
    <div class='reg-page__container_intro-text'>
      <h1 class='reg-page__container_intro-text_title'>Тысячи фильмов и сериалов
        <br />
        <span class='accent'>в одном приложении</span></h1>
    </div>
    <div class='reg-page__container_form' id='reg-page-form-block'>

    </div>
  </div>
</div>