.reg-page {
  height: 100%;

  display: flex;
  align-items: center;
}
.reg-page__container {
  max-width: 1280px;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reg-page__container_intro-text {
  text-transform: uppercase;
  width: 50%;
  h1 {
    font-size: 48px;
  }
}

.reg-page__container_form {
  width: 40%;
}

.accent {
  color: #a143ff;
}
