@import '../../styles/variables.scss';

.video-page {
  width: 100%;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  height: 100vh;
  //   overflow: hidden;

  &__container {
    height: 100%;
  }
}
