@import '../../styles/variables.scss';

.message {
  display: flex;
  gap: 40px;

  &__info {
    display: flex;
    align-items: center;
    gap: 10px;

    &_image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    &_username {
      font-size: 16px;
      color: $text-secondary-color;
    }
  }

  &__text {
    background-color: #8f8d8d;
    padding: 20px;
    border-radius: 10px;
  }
}
