@import 'styles/variables.scss';

.message {
  &__info {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 2px;
    width: 100%;

    &_user {
      display: flex;
      align-items: center;
      gap: 5px;
      max-height: 25px;

      &_image {
        width: 25px;
        height: 25px;
        border-radius: $border-radius-max;
      }

      &_username {
        font-size: $font-size-medium;
        color: $text-secondary-color;

        &_current {
          color: $brand;
        }
      }
    }
  }

  &__text {
    min-width: 30%;
    padding-top: 3px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
}
