<div class='message'>
  <div class='message__info'>
    <img class='message__info_image' src={{user.avatar_url}} alt='avatar' />
    <p class='message__info_username'>{{user.username}}</p>
  </div>

  <p class='message__text'>
    {{text}}
  </p>
</div>