<div class='message'>
  <div class='message__info'>
    <div class='message__info_user'>
      <img class='message__info_user_image' src={{message.avatar}} alt='avatar' />
      <p class='message__info_user_username{{#if isCurrentUser}} message__info_user_username_current{{/if}}'>
        {{message.sender}}
      </p>
    </div>
    <p class='message__text'>
      {{message.text}}
    </p>
  </div>
</div>
