<div class='card'>
  <img class='card__image' src={{this.movie.src}} alt='card' />
  <span class='card__rating'>{{this.movie.rating}}</span>
  <span class='card__position'>{{this.movie.position}}</span>
</div>