.password-modal {
  min-height: 100dvh;
  min-width: 100dvw;
  background-color: $modal-background;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  z-index: 10000;
  backdrop-filter: blur(3px);

  &__active {
    opacity: 1;
    pointer-events: all;
  }

  &__content {
    width: 400px;
    transform: scale(0.5);
    transition: 0.4s all;
    background-color: $modal-content-background;
    padding: 24px 32px;
    border-radius: $border-radius-small;

    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    &_active {
      transform: scale(1);
    }

    &_text {
      font-size: $font-size-large;
    }

    &_actions {
      width: 100%;
      margin-top: 8px;
      display: flex;
      justify-content: space-evenly;
    }

    &_btn {
      background-color: $brand;
      width: 100px;
      color: $brand-secondary;
      font-size: $font-size-medium;
      font-weight: 600;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: $button-background-hover;
      }
    }
  }

  &__input {
    width: 100%;
    position: relative;

    &_label {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: $font-size-medium;
      width: fit-content;

      margin-bottom: 0.2em;
      position: relative;
    }
    &_field {
      width: 100%;
      font-size: $font-size-medium;
      outline: 1px solid #fff;

      &:focus {
        outline: 2px solid #fff;
      }
      &:hover {
        cursor: text;
      }
      &::-ms-reveal {
        filter: invert(100%);
      }
    }
    &_error {
      display: block;
      font-size: $font-size-extra-small;
      color: $error-color;
      position: absolute;
      margin-top: 2px;
    }
  }
}
