<div id='password-modal' class='password-modal'>
  <div id='password-modal-content' class='password-modal__content'>
    <img
      id='password-modal-close-button'
      class='password-modal__close-icon'
      src='/assets/icons/closeNoShadowIcon.svg'
      alt=''
    />
    <h4 class='password-modal__content_text'>Смена пароля</h4>
    <div class='password-modal__input'>
      <label for='password-prev-value'>
        <div class='password-modal__input_label'>
          <span>Предыдущий пароль</span>
        </div>
        <input
          name='password-prev-value'
          placeholder='Ввести старый пароль'
          class='input password-modal__input_field'
          id='password-prev-value'
          type='password'
        />
        <span
          class='password-modal__input_error'
          id='password-modal-prev-password-error'
        ></span>
      </label>
    </div>
    <div class='password-modal__input'>
      <label for='password-new-value'>
        <div class='password-modal__input_label'>
          <span>Новый пароль</span>
        </div>
        <input
          name='password-new-value'
          placeholder='Ввести новый пароль'
          class='input password-modal__input_field'
          id='password-new-value'
          type='password'
        />
        <span
          class='password-modal__input_error'
          id='password-modal-new-password-error'
        ></span>
      </label>
    </div>
    <div class='password-modal__input'>
      <label for='password-confirm-new-value'>
        <div class='password-modal__input_label'>
          <span>Повторить пароль</span>
        </div>
        <input
          name='password-confirm-new-value'
          placeholder='Повторить пароль'
          class='input password-modal__input_field'
          id='password-confirm-new-value'
          type='password'
        />
        <span
          class='password-modal__input_error'
          id='password-modal-confirm-new-password-error'
        ></span>
      </label>
    </div>

    <div class='password-modal__content_actions'>
      <button
        id='password-modal-confirm-btn'
        class='button password-modal__content_btn'
      >Сменить</button>
      <button
        id='password-modal-cancel-btn'
        class='button password-modal__content_btn cancel'
      >Отмена</button>
    </div>
    <div id='change-password-error' class=''></div>
  </div>
</div>