<div class='find-item-list'>
  {{#if isRecommended}}
    <span class='find-item-list__subtitle'>Популярные фильмы</span>
  {{/if}}
  {{#if isNothingFound}}
    <span class='find-item-list__subtitle'
    >Ничего не найдено</span>
  {{else}}
    {{#each items}}
      <div class='find-item-list__item'>
        <img
          class='find-item-list__item_image'
          src='/assets/mockImages/mockMoviePoster.png'
          alt=''
        />
        <div class='find-item-list__item_info'>
          
          {{#if ../isMovie}}
            <h2
              class='find-item-list__item_info_title'
            >{{this.title}}</h2>
          {{/if}}
          {{#unless ../isMovie}}
            <h2 class='find-item-list__item_info_title'>{{this.name}}</h2>
          {{/unless}}
        </div>
      </div>
    {{/each}}
  {{/if}}
</div>