@import './styles/reset.scss';
@import './styles/variables.scss';

@import './components/Card/Card.scss';
@import './components/CardsList//CardsList.scss';
@import './components/AuthForm/AuthForm.scss';
@import './components/RegForm/RegForm.scss';
@import './components/Slider/Slider.scss';
@import './components/Header/Header.scss';
@import './components/Loader/Loader.scss';
@import './components/GridBlock/GridBlock.scss';
@import './components/ConfirmModal/ConfirmModal.scss';
@import './components/Notifier/Notifier.scss';
@import './components/VideoPlayer/VideoPlayer.scss';
@import './components/MovieDescription/MovieDescription.scss';
@import './components/SeriesCard/SeriesCard.scss';
@import './components/PersonCard/PersonCard.scss';
@import './components/Footer/Footer.scss';
@import './components/PasswordChangeModal/PasswordChangeModal.scss';
@import './components/AvatarComponent/AvatarComponent.scss';
@import './components/RoomModal/RoomModal.scss';
@import './components/Message/Message.scss';
@import './components/UsersList/UsersList.scss';
@import './components/CardPreview/CardPreview.scss';
@import './components/ProgressCard/ProgressCard.scss';
@import './components/MovieBigCard/MovieBigCard.scss';
@import './components/SeasonsMenu/SeasonsMenu.scss';

@import './pages/MainPage/MainPage.scss';
@import './pages/AuthPage/AuthPage.scss';
@import './pages/RegPage/RegPage.scss';
@import './pages/CategoryPage/CategoryPage.scss';
@import './pages/ActorPage/ActorPage.scss';
@import './pages/MoviePage/MoviePage.scss';
@import './pages/ProfilePage/ProfilePage.scss';
@import './pages/RoomPage/RoomPage.scss';
@import './pages/ErrorPage/ErrorPage.scss';
@import './pages/GenresPage/GenresPage.scss';
@import './pages/FavoritesPage/FavoritesPage.scss';

body {
  margin: 0;
  box-sizing: border-box;
  overflow: auto;
  background-color: $background;
  color: $brand-secondary;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.root {
  &-black {
    background-color: $background;
  }

  &-image {
    background-image: url('./assets/images/background-image.jpg');
    background-size: cover;
    background-position: center;
  }
}

main {
  width: 100%;
  height: fit-content;
  flex-grow: 1;

  position: relative; // for loader logic
}

.button {
  padding: 0.5em 1em;
  border-radius: 0.5em;

  &:hover {
    cursor: pointer;
  }
}

.input {
  color: $brand-secondary;
  padding: 0.5em 1em;
  border-radius: 0.5em;
}

.lock {
  max-height: 100dvh;
  overflow: hidden;
}

#preview {
  display: none;

  &.visible {
    display: block;

    z-index: 10;
  }
}

.skeleton {
  &__text {
    height: 40px;
    // width: 100%;
    background: $skeleton-background;
    overflow: hidden;
    position: relative;

    @include skeleton-before(
      $skeleton-background-secondary,
      $skeleton-animation
    );
  }
}
