<div class='main-page hidden' id='main-content'>
  <div class='main-page__container'>
    <div class='main-page__blocks'>
      <div id='best-movies-block' class='main-page__block'>
        <h4 class='main-page__block_title'>Сейчас в тренде</h4>
      </div>
      <div id='new-movies-block' class='main-page__block'>
        <h4 class='main-page__block_title'>Новинки</h4>
      </div>
      <div id='categories-block' class='main-page__block'>
        <h4 class='main-page__block_title'>Здесь будут категории...</h4>
      </div>
    </div>
  </div>
</div>
<div id='global-loader' class='global-loader'>
  <h4>Загрузка...</h4>
</div>