.main-page__container {
  max-width: 1280px;
  width: 80vw;
  margin: 0 auto;
  margin-top: 16px;
}

.main-page__blocks {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.main-page__block_title {
  margin-bottom: 15px;
  font-size: 30px;
}
