@import 'styles/variables.scss';

.main-page {
  background-color: $background;

  &__container {
    max-width: $content-width-max;
    width: $content-width;
    margin: 0 auto;
    margin-top: 16px;
  }

  &__blocks {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__block {
    &_title {
      margin-bottom: 15px;
      font-size: min($font-size-extra-large, calc(10px + 3.5vw));
    }
  }
}

.cowatch-wrapper {
  width: 100%;
  height: fit-content;
}

@include smallTablet {
  .main-page {
    &__container {
      max-width: 85dvw;
      width: 85dvw;
    }
  }
}

@include mobile {
  .main-page {
    &__container {
      max-width: 90dvw;
      width: 90dvw;
    }
    &__blocks {
      gap: 25px;
    }
  }
}
