<div class='main-page' id='main-page'>
  <div class='main-page__container'>
    <div class='main-page__blocks'>
      <div id='trend-movies-block' class='main-page__block'>
      </div>
      <div id='best-movies-block' class='main-page__block'>
        <h4 class='main-page__block_title'>Хиты за все время</h4>
      </div>
      <div id='new-movies-block' class='main-page__block'>
        <h4 class='main-page__block_title'>Новинки</h4>
      </div>
      <div id='categories-block' class='main-page__block'>
        <h4 class='main-page__block_title'>Здесь будут категории...</h4>
      </div>
    </div>
  </div>
</div>