<div class='main-page' id='main-page'>
  <div class='main-page__container'>
    <div class='main-page__blocks'>
      <div id='trend-movies-block' class='main-page__block'>
      </div>
    </div>
  </div>
</div>