<div>
  <h4 class='main-page__block_title'>{{title}}</h4>
  <div class='slider'>
    <button id='slider-btn-prev' class='slider__btn'>
      <img
        class='slider__btn_icon slider__btn_prev-icon'
        src='../../assets/icons/arrowIcon.svg'
        alt=''
      />
    </button>
    <div class='slider__container'>
      <div id='slider-{{this.id}}' class='slider__track'></div>
    </div>
    <button id='slider-btn-next' class='slider__btn'>
      <img
        class='slider__btn_icon slider__btn_next-icon'
        src='../../assets/icons/arrowIcon.svg'
        alt=''
      />
    </button>
  </div>
</div>