<div class='series-list'>
  <div class='series-list__header'>
    <div class='series-list__seasons' id='series-list-seasons'></div>
    <p class='series-list__caption'>{{seriesCaption}}</p>
  </div>

  <div class='series-list__series'>
    <div class='series-list__series_items'></div>
  </div>
</div>