@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.auth-page {
  height: 80vh;
  display: flex;
  align-items: center;

  &__container {
    max-width: $content-width-max;
    width: $content-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_intro-text {
      width: 50%;
      &_title {
        font-size: 48px;
      }
    }

    &_form {
      width: 40%;
    }
  }
}

.accent {
  color: $brand;
}

@include mediumTablet {
  .auth-page {
    &__container {
      &_intro-text {
        width: 40%;
        &_title {
          font-size: 40px;
        }
      }

      &_form {
        width: 50%;
      }
    }
  }
}

@include smallTablet {
  .auth-page {
    &__container {
      align-items: flex-start;
      width: 85vw;
      &_intro-text {
        width: 40%;
        &_title {
          font-size: 32px;
        }
      }
    }
  }
}
@include mobileLandscape {
  .auth-page {
    &__container {
      flex-direction: column;
      align-items: center;
      gap: 16px;

      &_intro-text {
        width: 90%;
        text-align: center;
      }
      &_form {
        width: 60%;
      }
    }
  }
}

@include mobile {
  .auth-page {
    &__container {
      width: 90vw;

      &_intro-text {
        display: none;
      }
      &_form {
        width: 75%;
      }
    }
  }
}

@include extraSmallMobile {
  .auth-page {
    &__container {
      &_form {
        width: 100%;
      }
    }
  }
}

@include tinyMobile {
  .auth-page {
    &__container {
      &_form {
        width: 100vw;
      }
    }
  }
}
