@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.actor-page {
  margin-top: 20px;
  &__container {
    width: $content-width;
    max-width: $content-width-max;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__about {
    display: flex;
    gap: 5%;

    &_image {
      width: 35%;
      min-width: 140px;
      max-width: 300px;
      // height: 450px;
    }

    &_info {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }

  &__biography {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &_title {
      font-size: $font-size-large;
      font-weight: bold;
    }
    &_content {
      width: 80%;
      font-size: $font-size-medium;
      line-height: 24px;

      &_text {
        display: grid;
        grid-template-rows: 50px;
        overflow: hidden;
        contain: content;
        transition: grid-template-rows 0.1s ease-out;

        &.opened {
          grid-template-rows: 1fr;
        }
      }

      &_toggle {
        margin-top: 10px;
        color: $brand;

        display: flex;
        gap: 8px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__filmography {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &_title {
      font-size: $font-size-large;
      font-weight: bold;
    }
  }

  &-skeleton {
    width: $content-width;
    max-width: $content-width-max;
    margin: 0 auto;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 20px;
    &__about {
      display: flex;
      gap: 50px;
    }

    &__image {
      height: 500px;
      width: 350px;
      background: $skeleton-background;
      overflow: hidden;
      position: relative;

      @include skeleton-before(
        $skeleton-background-secondary,
        $skeleton-animation
      );
    }

    &__info {
      width: 40%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      &_title {
        height: 80px !important;
      }
    }
  }
}

.show-more {
  &.more:after {
    content: 'Показать больше';
  }
  &.less:after {
    content: 'Свернуть';
  }
}

.toggler_icon {
  &.less {
    transform: rotate(180deg);
  }
}

.actor {
  &__name {
    font-size: min(48px, calc(10px + 3.5vw));

    font-weight: bold;
    white-space: normal;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
    // width: 500px;
    width: 100%;

    &.adaptive {
      display: none;
    }

    &_title {
      font-weight: bold;
      font-size: $font-size-large;
    }
    &_stats {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 16px;
      width: 400px;
      font-size: $font-size-medium;
      &_stat {
        &:nth-child(odd) {
          color: $text-secondary-color;
          font-weight: 400;
        }
        &:nth-child(even) {
          font-weight: bold;
        }
      }
    }
  }
}

@include smallTablet {
  .actor-page {
    &__container {
      width: 85vw;
    }

    &__biography {
      gap: 12px;

      &_title {
        font-size: 22px;
      }
      &_content {
        width: 85%;
      }
    }

    &__filmography {
      gap: 12px;
      &_title {
        font-size: 22px;
      }
    }
  }

  .actor {
    &__info {
      gap: 16px;
      &_stats {
        width: 300px;
        gap: 12px;
      }
      &_title {
        font-size: 22px;
      }
    }
  }
}

@include mobile {
  .actor-page {
    &__container {
      width: 90vw;
      gap: 16px;
    }

    &__biography {
      gap: 8px;
      &_title {
        font-size: 20px;
      }
      &_content {
        width: 90%;
        font-size: 14px;
        line-height: 1.2em;

        &_toggle {
          margin-top: 4px;
        }
      }
    }

    &__filmography {
      gap: 8px;
      &_title {
        font-size: 20px;
      }
    }
  }

  .actor {
    &__name {
      font-size: 28px;
    }

    &__info {
      gap: 8px;
      &_title {
        font-size: 20px;
      }

      &_stats {
        font-size: 14px;
      }
      &.main {
        display: none;
      }
      &.adaptive {
        display: flex;
      }
    }
  }
  .show-more {
    &.more:after {
      font-size: 14px;
    }
    &.less:after {
      font-size: 14px;
    }
  }
  .toggler_icon {
    width: 18px;
  }
} //name - 28
