<div class='actor-page-skeleton'>
  <div class='actor-page-skeleton__about'>
    <div class='actor-page-skeleton__image'></div>
    <div class='actor-page-skeleton__info-wrapper'>
      <div class='skeleton__text actor-page-skeleton__info_title'></div>
      <div class='actor-page-skeleton__info main'>
        <div class='skeleton__text actor-page-skeleton__about-person'></div>
        <div
          class='skeleton__text actor-page-skeleton__about-person_stat'
        ></div>
        <div
          class='skeleton__text actor-page-skeleton__about-person_stat'
        ></div>
      </div>
    </div>
  </div>
  <div class='actor-page-skeleton__info adaptive'>
    <div class='skeleton__text actor-page-skeleton__about-person'></div>
    <div class='skeleton__text actor-page-skeleton__about-person_stat'></div>
    <div class='skeleton__text actor-page-skeleton__about-person_stat'></div>
  </div>
  <div class='actor-page-skeleton__biography'>
    <div class='skeleton__text actor-page-skeleton__biography_title'></div>
    <div class='skeleton__text actor-page-skeleton__biography_text'></div>
    <div class='skeleton__text actor-page-skeleton__biography_text'></div>
  </div>

  <div class='actor-page-skeleton__filmography'>
    <div class='skeleton__text actor-page-skeleton__filmography_title'></div>
    <div class='actor-page-skeleton__filmography_content'></div>
  </div>
</div>