<div class='category-page'>
  <div class='category-page__inner'>
    <div class='category-page__inner_title'>
      <h1>{{title}}</h1>
    </div>
    <div id='category-page-content' class='category-page__inner_content'>

    </div>
  </div>
</div>