@import '../../styles/variables.scss';

.category-page {
  &__inner {
    width: $content-width;
    max-width: $content-width-max;
    margin: 0 auto;
    margin-top: 16px;

    display: flex;
    flex-direction: column;

    &_back {
      width: fit-content;
      color: $brand;
      border-bottom: 1px solid $brand;
      cursor: pointer;
      margin-bottom: 8px;
    }

    &_title {
      margin-bottom: 16px;
    }
  }
}
