<div id='search-bar' class='search-bar'>
  <div id='search-bar-search' class='search-bar__search'>
    <span class='search-bar__search_text'>Поиск</span>
    <img
      class='search-bar__search_icon'
      src='/assets/icons/searchIcon.svg'
      alt=''
    />
  </div>
  <input
    placeholder='Начните поиск'
    id='search-bar-input'
    class='search-bar__input'
    type='text'
  />
  <div id='search-bar-close' class='search-bar__close'>
    <img
      class='search-bar__close_icon'
      src='/assets/icons/closeIcon.svg'
      alt=''
    />
  </div>

  <div id='search-list' class='search-bar__list'>
    <div class='search-bar__list_toggler'>
      <div
        id='search-active-nav'
        class='search-bar__list_toggler_btn movies-selected'
      ></div>
      <div
        id='search-persons-nav'
        class='search-bar__list_toggler_item'
      >Актеры</div>
      <div
        id='search-movies-nav'
        class='search-bar__list_toggler_item'
      >Фильмы</div>
    </div>
    <div id='search-list-items-container' class='search-bar__list_content'>

    </div>
  </div>

</div>