<div class="form-reg__wrapper">
    <h1>ssssss</h1>
    <form class="form-reg" action='submit'>
        <input class="form-reg__input" id="form-reg-email" type="email"></input>
        <input class="form-reg__input" id="form-reg-password" type="password"></input>
    </form>
    <button id="form-reg-btn">Войти</button>
</div>