.form-reg__wrapper {
  border-radius: 16px;
  background-color: #0000009c;
  /* width: fit-content; */
  width: 100%;
  padding: 8px 32px;
  padding-top: 16px;
}

.form-reg {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.form-reg__title {
  font-weight: 500;
  font-size: 24px;
}

.form-reg__input {
  width: 100%;
  position: relative;
}
.form-reg__input_label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  width: fit-content;

  margin-bottom: 0.2em;
  position: relative;
}

.form-reg__input_field {
  width: 100%;
  font-size: 16px;
  outline: 1px solid #fff;
}

.form-reg__input_field:focus {
  outline: 2px solid #fff;
}
.form-reg__input_field:hover {
  cursor: text;
}

.form-reg__input_field::-ms-reveal {
  filter: invert(100%);
}

.note {
  position: absolute;
  right: -10px;
  bottom: 3px;
  transform: translate(100%, 0);

  padding: 8px;
  border-radius: 4px;
  background-color: #fff;
  color: #000;

  font-size: 14px;

  width: max-content;
}

.reg__email_note,
.reg__login_note,
.reg__password_note {
  display: none;
}

.form-reg__email-note_icon:hover + .reg__email_note {
  display: block;
}
.form-reg__login-note_icon:hover + .reg__login_note {
  display: block;
}
.form-reg__password-note_icon:hover + .reg__password_note {
  display: block;
}

.error {
  outline: 1px solid red;
}

.form-reg__button {
  width: 100%;

  background-color: #a143ff;
  color: #fff;

  font-size: 16px;
  font-weight: 600;
}

.form-reg__button:hover {
  background-color: #590da6;
}

.form-reg__footer {
  font-size: 11px;
  font-weight: 300;
  margin-top: 16px;
  text-align: center;
  color: #fff;

  span {
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}
