<div class='form-reg__wrapper'>

  <form class='form-reg' action='submit'>
    <h1 class='form-reg__title'>РЕГИСТРАЦИЯ</h1>
    <input
      placeholder='e-mail'
      class='input form-reg__input'
      id='form-reg-email'
      type='email'
    />
    <input
      placeholder='Логин'
      class='input form-reg__input'
      id='form-reg-login'
      type='text'
    />
    <input
      placeholder='Пароль'
      class='input form-reg__input'
      id='form-reg-password'
      type='password'
    />
    <input
      placeholder='Подтвердите пароль'
      class='input form-reg__input'
      id='form-reg-password-confirm'
      type='password'
    />
    <input
      placeholder='Дата рождения'
      class='input form-reg__input'
      id='form-reg-date'
      type='date'
    />
    <button class='button form-reg__button' id='form-reg-btn'>Создать аккаунт</button>
  </form>
  <div class='form-reg__footer'>
    <span>Уже есть аккаунт?
      <a id='form-reg-auth-link' href=''>Авторизируйтесь</a>
    </span>
  </div>
</div>