$brand: #a143ff;
$brand-secondary: #fff;
$brand-dull: #cccccc;

$text-secondary: #e9e9e9;

$background: #000;
$background-secondary-color: #1c1c1c;

$button-background-hover: #590da6;
$button-background-secondary: #858388;
$button-background-secondary-hover: #4e4e4e;

$card-box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
$card-high-rating: #3ead36;

$modal-background: rgba(0, 0, 0, 0.4);
$modal-content-background: #353643;

$content-width: 80vw;
$content-width-max: 1280px;

$error-color: red;

$text-secondary-color: #7d7d7d;

$block-background: #1c1c1c;

$border-radius-small: 10px;
$border-radius-medium: 16px;
$border-radius-max: 50%;

$font-size-extra-small: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 24px;
$font-size-extra-large: 32px;
