$brand: #a143ff;
$brand-secondary: #fff;

$background: #000;

$button-background-hover: #590da6;

$card-box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
$card-high-rating: #3ead36;

$modal-background: rgba(0, 0, 0, 0.4);
$modal-content-background: #575656;

$content-width: 80vw;
