@import '../../styles/variables.scss';

.video {
  width: 100%;
}

.video-timer {
  top: 5px;
  right: 6px;
  display: flex;
  flex-direction: row;
  color: #efefef;
  margin-left: 15px;
  font-size: 12px;
}

.video__progress {
  top: 3px;
  height: 4px;
  background-color: #ddd;
  width: 100%;
  cursor: pointer;
}

.video__progress_bar {
  height: 100%;
  width: 0;
  background-color: $brand;
  transition: width 0.1s linear;
}

.video__controls {
  display: flex;
  align-items: center;
  gap: 10px;

  &_icon {
    width: 30px;
    height: 30px;
    cursor: pointer;

    &_play {
      background-image: url('assets/icons/playIcon.svg');
    }

    &_pause {
      background-image: url('assets/icons/pauseIcon.svg');
    }
  }

  &_volume {
    position: relative;

    &_input {
      position: absolute;
      display: none;
      width: 80px;
      right: -25px;
      bottom: 80px;
      height: 5px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      transform: rotate(270deg);
    }
  }
}
