<div class='video__wrapper'>
  <video id='video' class='video'>
    <source src={{url}} type='video/mp4' />
  </video>

  <div class='video__controls'>
    {{#if isPlaying}}
      <img
        id='play-pause'
        class='video__controls_icon'
        src='../../assets/icons/pauseIcon.svg'
        alt='play'
      />
    {{else}}
      <img
        id='play-pause'
        class='video__controls_icon'
        src='../../assets/icons/playIcon.svg'
        alt='pause'
      />
    {{/if}}
    <div class='video__controls_volume'>
      <img
        id='volume-button'
        class='video__controls_icon'
        src='../../assets/icons/soundIcon.svg'
        alt='volume'
      />
      <input
        class='video__controls_volume_input'
        type='range'
        id='volume'
        min='0'
        max='1'
        step='0.01'
        value='1'
      />
    </div>
    <span id='current-time'>00:00</span>
    <div class='video__progress'>
      <div class='video__progress_bar'></div>
    </div>
    <span id='duration'>00:00</span>
    <img
      id='full-screen-button'
      class='video__controls_icon'
      src='../../assets/icons/fullscreen.svg'
      alt='fullscreen'
    />
  </div>
</div>