@import '../../styles/variables.scss';

.video {
  width: 100%;

  &__controls {
    display: flex;
    align-items: center;
    gap: 10px;

    &_icon {
      min-width: 40px;
      width: 40px;
      height: 40px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-size: 40px;

      &_play {
        background-image: url('assets/icons/playIcon.svg');
      }

      &_pause {
        background-image: url('assets/icons/pauseIcon.svg');
      }

      &_full {
        background-image: url('assets/icons/fullScreenIcon.svg');
      }

      &_small {
        background-image: url('assets/icons/smallScreenIcon.svg');
      }
    }

    &_volume {
      position: relative;

      &_input {
        position: absolute;
        display: none;
        width: 80px;
        right: -25px;
        bottom: 80px;
        height: 5px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transform: rotate(270deg);
      }
    }

    &_timer {
      width: 80px;
    }
  }

  &__progress {
    top: 3px;
    height: 4px;
    background-color: #ddd;
    width: 100%;
    cursor: pointer;

    &_bar {
      height: 100%;
      width: 0;
      background-color: $brand;
      transition: width 0.1s linear;
    }
  }
}
