<div id='series-card-{{series.id}}' class='series-card'>
  <div class='series-card__container'>
    <img class='series-card__image' src={{series.preview}} alt='card' />
    <p class='series-card__title'>{{series.episodeNumber}} серия</p>
  </div>
</div>