<div class='series-card'>
  <div class='series-card__container'>
    <img class='series-card__image' src={{series.image}} alt='card' />
    <h4 class='series-card__title'>{{series.position}}. {{series.title}}</h4>
  </div>
</div>