.cards-list {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;

  &-skeleton {
    display: flex;
    gap: 30px;
    overflow: hidden;
  }
}
