<div id='modal' class='modal'>
  <div id='modal-content' class='modal__content'>
    <h4 class='modal__content_text'>{{this.text}}</h4>
    <div class='modal__content_room'>
      <input
        name='room-number-value'
        placeholder='Введите название комнаты'
        class='input password-modal__input_field'
        id='password-prev-value'
        type='text'
      />
      <div class='modal__content_actions'>
        <button
          id='modal-create-btn'
          class='button modal__content_btn'
        >Создать</button>
        <button
          id='modal-cancel-btn'
          class='button modal__content_btn'
        >Отмена</button>
      </div>
    </div>

  </div>
</div>