<div id='create-room-modal' class='create-room-modal'>
  <div id='create-room-modal-content' class='create-room-modal__content'>
    <img
      id='create-room-modal-close-button'
      class='create-room-modal__close-icon'
      src='/assets/icons/closeNoShadowIcon.svg'
      alt=''
    />
    <h1 class='create-room-modal__content_title'>Создание комнаты</h1>
    <div class='create-room-modal__content_search'>
      <div class='create-room-modal__content_search_area'>
        <span class='create-room-modal__content_search_desc'>Воспользуйтесь
          поиском, чтобы найти нужный фильм и создать комнату для совместного
          просмотра</span>
        <input
          autocomplete='off'
          id='create-room-search-movie-input'
          class='input create-room-modal__content_search_input'
          type='text'
          placeholder='Найдите фильм'
        />
      </div>
    </div>
    <div
      id='create-room-modal-find-list'
      class='create-room-modal__content_items'
    ></div>
  </div>
</div>