<div id='series-list-item-{{series.id}}' class='series-list-item'>
  <img class='series-list-item__img' src={{series.preview}} alt='series' />
  <p class='series-list-item__title'>{{series.episodeNumber}} серия</p>
</div>