<div class='cowatch-block'>
  <div class='cowatch-block__container'>
    <div class='cowatch-block__content'>
      <div class='cowatch-block__content_info'>
        <h1 class='cowatch-block__content_info_title'>Смотрите кино вместе даже
          на расстоянии</h1>
        <span class='cowatch-block__content_info_description'>Мы создали
          возможность совместного просмотра ваших любимых фильмов и сериалов,
          чтобы вы могли наслаждаться кино вместе с друзьями и семьей, даже
          находясь в разных уголках мира. Просто оформите подписку, создайте
          комнату и пригласите своих близких. Никаких сложностей, только
          удовольствие от совместного просмотра!</span>
        <button
          id='exit-button'
          class='button cowatch-block__content_info_btn'
        >Выбрать фильм</button>
      </div>
    </div>
  </div>
  <img
    class='cowatch-block__background'
    src='/assets/images/cowatchBackground.png'
    alt=''
  />
</div>