@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.cowatch-block {
  position: relative;

  &__skeleton {
    background: $skeleton-background;
    width: 100%;
    aspect-ratio: 3/1;
    position: relative;
    overflow: hidden;

    @include skeleton-before(
      $skeleton-background-secondary,
      $skeleton-animation
    );
  }
  &__background {
    width: 100%;
    user-select: none;
  }
  &__container {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__content {
    width: 80vw;
    max-width: $content-width-max;
    margin: 0 auto;

    display: flex;
    align-items: center;
    height: 100%;

    &_info {
      height: fit-content;
      width: 50%;

      padding: 32px;

      background: rgba(255, 255, 255, 0.22);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);

      &_title {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 16px;
        line-height: 110%;
      }
      &_description {
        display: block;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 16px;
      }

      &_btn {
        border: 2px solid #fff;
        color: #fff;
        font-size: $font-size-medium;
        font-weight: 600;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: #ffffff4e;
        }
      }
    }
  }
}

@include tablet {
  .cowatch-block {
    &__content {
      &_info {
        padding: 24px;
        &_title {
          font-size: 32px;
        }
        &_description {
          font-size: 16px;
        }
      }
    }
  }
}
@include largeTablet {
  .cowatch-block {
    &__content {
      &_info {
        width: 60%;
      }
    }
  }
}

@include mediumTablet {
  .cowatch-block {
    &__skeleton {
      height: 420px;
    }
    &__background {
      display: none;
    }
    height: 420px;
    &__container {
      background-image: url('assets/images/cowatchBackgroundMobile.png');
      background-size: cover;
      background-position: center;
    }

    &__content {
      &_info {
        width: 75%;
        padding: 16px 24px;

        &_title {
          margin-bottom: 12px;
        }
        &_description {
          margin-bottom: 12px;
        }
      }
    }
  }
}

@include smallTablet {
  .cowatch-block {
    &__content {
      width: 85vw;
    }
  }
}

@include mobile {
  .cowatch-block {
    &__content {
      width: 90vw;
      height: 400px;

      &_info {
        // width: 75%;
        padding: 16px 24px;

        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);

        &_title {
          font-size: 24px;
          margin-bottom: 12px;
        }
        &_description {
          font-size: 14px;
          margin-bottom: 12px;
        }

        &_btn {
          font-size: 14px;
        }
      }
    }
  }
}
@include smallMobile {
  .cowatch-block {
    &__content {
      &_info {
        width: 85%;
      }
    }
  }
}
@include ultraSmallMobile {
  .cowatch-block {
    &__content {
      &_info {
        width: 95%;
      }
    }
  }
}
