<div id='room-page' class='room-page'>
  <div class='room-page__container'>
    <h4 class='room-page__title'>Комната для просмотра сериала от gashurov</h4>
    <div class='room-page__content'>
      <div id='room-video' class='room-page__video'>
      </div>

      <div class='room-page__info'>
        <div class='room-page__info_description'>
          <img
            class='room-page__info_description_title'
            src={{movie.titleImage}}
            alt='title'
          />
          <p
            class='room-page__info_description_text'
          >{{movie.shortDescription}}</p>
        </div>

        <div class='room-page__info_list'>
        </div>

        <button class='button test__btn'>Кликни, чтобы работало</button>
      </div>
    </div>
  </div>

</div>