@import '../../styles/variables.scss';

.room-page {
  background-color: $background;
  padding-bottom: 100px;

  &__container {
    max-width: $content-width-max;
    width: $content-width;
    margin: 0 auto;
    margin-top: 16px;
  }

  &__title {
    font-size: 30px;
    padding-bottom: 20px;
  }

  &__content {
    display: flex;
    gap: 30px;
  }

  &__video {
    width: 70%;
  }

  &_chat {
    width: 100%;
  }

  &__info {
    width: 30%;

    display: flex;
    flex-direction: column;
    gap: 20px;

    &_description {
      background-color: $block-background;
      color: $text-secondary-color;
      padding: 20px;
      border-radius: 10px;

      &_title {
        width: 60%;
      }
    }

    &_list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      overflow-y: auto;
      max-height: 300px;

      &_wrapper {
        max-height: 400px;
        // overflow: hidden;
        background-color: $block-background;
        border-radius: 10px;
        padding: 20px;
      }

      &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;

        &_title {
          font-size: 20px;
          font-weight: 700;
        }

        &_btn {
          background-color: $brand;
          color: $brand-secondary;
          font-size: 16px;
          font-weight: 600;
          transition: background-color 0.2s ease;

          &:hover {
            background-color: $button-background-hover;
          }
        }
      }

      &_item {
        display: flex;
        align-items: center;
        gap: 20px;

        &_title {
        }
        &_subtitle {
          font-size: 10px;
          color: $text-secondary-color;
        }
        &_image {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  &__chat {
    background-color: #494747;
    position: relative;
    height: 500px;
    width: 100%;

    &_messages {
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: 400px;
    }

    &_input {
      width: 100%;
      border: 1px solid red;
      border-radius: 10px;

      &_button {
        font-size: 16px;
        padding: 15px;
        background-color: $brand;
        color: #fff;
      }

      &_block {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        gap: 10px;
      }
    }
  }
}
