@import 'styles/variables.scss';

.active {
  border-bottom: 2px solid $brand;
  margin-bottom: -4px;
  padding-bottom: 2px;
}

.header {
  user-select: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 12px 0px;

  &__container {
    max-width: $content-width-max;
    width: $content-width;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &_item {
      width: fit-content;

      &.icon {
        display: block;
      }
    }

    &_logo {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 36px;
      font-weight: 700;

      &:hover {
        cursor: pointer;
      }
    }

    &_nav {
      font-size: 20px;
      font-weight: 600;
      display: flex;
      gap: 24px;
      justify-content: space-between;
    }

    &_auth {
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &_exit_btn {
      background-color: $brand;
      color: $brand-secondary;
      font-size: $font-size-medium;
      font-weight: 600;

      &:hover {
        background-color: $button-background-hover;
      }
    }

    &_profile {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 20px;
    }

    &_avatar {
      width: 36px;
      height: 36px;
      border-radius: 100px;
      overflow: hidden;

      &_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
