@import 'styles/variables.scss';

.active {
  border-bottom: 2px solid $brand;
  margin-bottom: -4px;
  padding-bottom: 2px;
}

.header {
  user-select: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 12px 0px;

  &__container {
    max-width: $content-width-max;
    width: $content-width;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    &.not-authed {
      & > *:nth-child(2) {
        order: 2; /* Второй элемент перемещается перед третьим */
      }
      & > *:nth-child(3) {
        order: 1; /* Третий элемент остается на своем месте */
      }
    }

    &_item {
      width: fit-content;

      &.icon {
        display: block;
      }
    }

    &_logo {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 36px;
      font-weight: 700;

      &:hover {
        cursor: pointer;
      }
    }

    &_nav {
      font-size: 20px;
      font-weight: 600;
      display: flex;
      gap: 24px;

      justify-content: space-between;

      // &.authed {
      margin-left: 32px;
    }

    &_widgets {
      margin-left: auto;

      display: flex;
      align-items: baseline;
      gap: 16px;
    }

    &_auth {
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &_search-bar {
      font-size: 20px;
    }

    &_profile {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 20px;
    }

    &_avatar {
      width: 36px;
      height: 36px;
      border-radius: 100px;
      overflow: hidden;

      &_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.search-bar {
  align-self: center;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  &.active {
    .search-bar {
      &__input {
        width: 200px;
        padding-left: 8px;
      }
      &__search {
        &_text {
          display: none;
        }
      }
      &__close {
        display: block;
      }
    }
  }

  &__search {
    font-size: 20px;
    display: flex;
    align-items: center;

    gap: 8px;
  }

  &__input {
    width: 0px;
    font-size: 18px;
    font-weight: 300;

    transition: width 0.2s linear;
  }

  &__close {
    display: none;
    height: 24px;

    &_icon {
      width: 24px;
    }
  }
}
